:root {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.image-profile {
  max-width: 170px;
  max-height: 170px;
  border-radius: 20px;
}

.image-paper-profile {
  width: 100%;
  max-width: max-content;
  height: 100%;
  z-index: -1;
  opacity: 5%;
}

.global-form {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}